@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Condensed&display=swap");

/* * {
  margin: 0;
  padding: 0;
} */
.container {
  background-color: #d9d9d9;
  margin: auto;
  max-width: 750px;
  padding: 30px 30px;
}
.avatar {
  width: 200px;
  border-radius: 20px;
  box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.5);
}

body {
  color: #0f141e;
  background-color: #fff;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
}

.card1 {
  border: 2px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-color: beige;
  padding: 10px;
  margin-bottom: 20px;
}

table {
  line-height: 1.6em;
  width: 100%;
}
.table th {
  padding-bottom: 20px;
}
.table td {
  text-align: left;
  padding-left: 20px;
  padding-bottom: 8px;
}

.card2 {
  border: 2px;
  background-color: rgb(218, 255, 185);
  padding: 10px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  margin-bottom: 20px;
}

.btn {
  background-color: #333;
  color: #fff;
  font-family: inherit;
  padding: 5px;
  border-radius: 8px;
  cursor: pointer;
}

.btn:hover {
  color: aqua;
}

a:hover {
  color: aqua;
}
a:active {
  color: rgb(255, 149, 0);
}
a:visited {
  color: darkorchid;
}

.list li {
  margin-bottom: 10px;
}

.box {
  display: inline-block;
  margin-left: 30px;
  margin-bottom: 30px;
}

.form h2 {
  text-align: center;
}

.form-group label {
  display: block;
  margin-block-start: 10px;
}

@media (max-width: 650px) {
  .container {
    text-align: center;
    font-size: 0.8rem;
  }
}
